<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TravelApp</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <h1 class="holder headline">
        Do you want to travel?
        <br>
        Check the weather forecast.....
      </h1>
      <section class="interaction">
        <div class="form" id="form">
          <label for="zip">Enter City</label>
          <input type="text" id="zip" placeholder="New York" />
          <label for="date">Enter Date</label>
          <input type="date" id="date" placeholder="YYYY-MM-DD" />
          <button id="generate" type="submit">Generate</button>
        </div>
        <div id="entryHolder">
          <h2 class="title" id="title">Your Next Trip</h2>
        </div>
      </section>
    </div>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>

